/*#region imports */
@use "land.scss";
/*#endregion*/


@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Inconsolata:wght@300;400;700&display=swap');
$fontstack: 'Inconsolata', 'Courier New', Courier, monospace;

body {
    //display: inline;
    z-index: 1;
    background-color: azure;
    font-family: $fontstack;
    font-size: 24px;

}

/*#region all applicable */

.layer0 {
    z-index: 2;
}
p {
    font-size: 24px;
    font-weight: normal;
}
h1 {
    font-size:36px;
}


h1 {
    color: goldenrod;
    text-align: center;
}

        
h2 {
    color: blueviolet;
}

/*#region Breakpoints */


@media only screen and (max-width: 767px) {

}
@media only screen and (min-width: 768px) {
    #menu-open {
        width: 30%;
        left: 70%;
    }

}

/*#endregion*/

