/*#region imports */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Inconsolata:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@500&display=swap");
@import url("https://use.typekit.net/vbd4dyq.css");
/*#region menus */
.island, #info-closed, #menu-closed {
  display: block;
  background-color: red;
  transition: background-color 0.5s ease-in;
  width: 10vh;
  height: 10vh;
  z-index: 1;
  position: fixed;
}

.overlay, #info-open, #menu-open {
  display: block;
  background-color: blue;
  opacity: 90%;
  z-index: 1;
  position: fixed;
  overflow: hidden;
}

.btn, .closebtn, .infobtn, .navbtn {
  background-position: center center;
  background-size: 70% 70%;
  background-repeat: no-repeat;
  width: 10vh;
  height: 10vh;
  position: absolute;
}

.navbtn {
  background-image: url(../assets/lines.svg);
  top: 0;
  right: 0;
}

.infobtn {
  background-image: url(../assets/person.svg);
  bottom: 0;
  left: 0;
}

.closebtn {
  background-size: 60% 60%;
  background-image: url(../assets/xmark.svg);
}

/*#region nav */
#menu-closed {
  display: block;
  right: 0;
  top: 0;
}

#menu-closed:hover {
  background-color: rgba(37, 37, 37, 0.891);
}

#menu-open {
  display: none;
  width: 100%;
  height: 100%;
}

#menu-sections {
  padding: none;
  margin-left: vw;
  margin-top: 5vw;
  font-size: 36pt;
  list-style: none;
}

.menu-link:any-link { /* force link styles */
  text-decoration: none !important;
  color: rgb(0, 0, 0) !important;
}

.menu-link:any-link:hover { /* force link styles */
  color: greenyellow !important;
}

/*#endregion*/
#info-closed {
  left: 0;
  bottom: 0;
}

#info-closed:hover {
  background-color: rgba(37, 37, 37, 0.891);
  transition: background-color 0.5s ease-in;
}

#info-open {
  display: none;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

img {
  display: block;
  margin: auto;
}

/*#endregion*/
.spacer {
  height: 10vh;
}

#entext {
  position: absolute;
  left: 0;
  font-family: "Schibsted Grotesk", sans-serif;
  color: black;
  font-size: 12pt;
  text-align: left;
}

#estext {
  position: absolute;
  right: 0;
  font-family: "vendetta", serif;
  color: red;
  font-size: 16pt;
  text-align: right;
}

.textcontainer {
  display: grid;
}

.textblock {
  grid-row: 1;
  grid-column: 1;
  line-height: 30pt;
  width: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  #entext {
    margin-left: 20vw;
  }
  #estext {
    margin-right: 20vw;
  }
}
/*#endregion*/
body {
  z-index: 1;
  background-color: azure;
  font-family: "Inconsolata", "Courier New", Courier, monospace;
  font-size: 24px;
}

/*#region all applicable */
.centered {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.layer0 {
  z-index: 2;
}

p {
  font-size: 24px;
  font-weight: normal;
}

h1 {
  font-size: 36px;
}

h1 {
  color: goldenrod;
  text-align: center;
}

h2 {
  color: blueviolet;
}

/*#region Breakpoints */
@media only screen and (min-width: 768px) {
  #menu-open {
    width: 30%;
    left: 70%;
  }
}
/*#endregion*/

/*# sourceMappingURL=main.css.map */
