/*#region imports */
@use "land.scss";
/*#endregion*/


@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap');
$fontstack: hella;

body {
    display: inline;
    max-width: 600px;
    background-color: azure;
    font-family: 'Inconsolata', 'Courier New', Courier, monospace;
    font-size: 2.5vw;
}


main {
    margin: 0;
    background-color: lightgoldenrodyellow;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 2vw;
}

h1 {
    color: goldenrod;
    font-size: 4vw;
    text-align: center;
}

        
h2 {
    color: blueviolet;
}



@media (min-width: 900px) {
    main {
        width: 40vw;
    }
}
@media (max-width: 899px) {
    main {
        width: 80vw;
    }
}