.entext {
    font-family: 'Schibsted Grotesk', sans-serif;
    color: black;
    font-size: 2vh;
    text-align: left;
}

.estext {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: 0;
    font-family: "vendetta",serif;
    color: red;
    font-size: 3vh;
    text-align: right;
}
.textcontainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.stanza {
    
    width: 100%;

}
@media only screen and (min-width: 768px) {
    #entext {
        margin-left: 20vw;
    }
    #estext {
        margin-right: 20vw;
    }  

}

.linepair {
    background-color: gray;
    top: inherit;
    display: block;
}
.poem-container {
    max-width: 1200px;
}

.active-line {
    border: .5vh;
    border-color: red;
    border-radius: 1vh;
}
